{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block extra-css %}
<style type="text/css">
    /* 
        You can put some CSS here!

        Or, if you want to get fancy, you can edit the project.css file
        in the templates/static/css directory.
    */
</style>
<!--
    If you want to make your own new CSS file, add a link to it here like this:
        <link rel="stylesheet" href="{% static "css/my-fab-css.css" %}">
 -->
{% endblock %}

{% block content %}
    <!--
        For some help on the Django template syntax head here:
            Basic:      https://docs.djangoproject.com/en/1.6/topics/templates/
            Advanced:   https://docs.djangoproject.com/en/1.6/ref/templates/api/
        
        For help on the built in template tags and filters:
            https://docs.djangoproject.com/en/1.6/ref/templates/builtins/

        If you want to learn more about Bootstrap, you can go here:
            http://getbootstrap.com/
     -->

    <div class="page-header">
        <h1>Contribution Data Hello</h1>
    </div>

    <h2>Totals for each candidate</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Candidate</th>
                <th>Direct contributions</th>
                <th>Independent contributions</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Garcetti</td>
                <td>${{ garcetti_direct|floatformat:2|intcomma }}</td>
                <td>${{ garcetti_independent|floatformat:2|intcomma }}</td>
                <td>${{ garcetti_total|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
                <td>Greuel</td>
                <td>${{ greuel_direct|floatformat:2|intcomma }}</td>
                <td>${{ greuel_independent|floatformat:2|intcomma }}</td>
                <td>${{ greuel_total|floatformat:2|intcomma }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Money by sector</h2>
    
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Garcetti</th>
                <th>Greuel</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for sector in contributions_by_sector %}
            <tr>
                <td>{{ sector.name }}</td>
                <td>${{ sector.garcetti|floatformat:2|intcomma }}</td>
                <td>${{ sector.greuel|floatformat:2|intcomma }}</td>
                <td>${{ sector.total|floatformat:2|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}